In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;} 
div.cell.code_cell.rendered{width:100%;} 
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:14pt;} 
div.text_cell_render.rendered_html{font-size:14pt;} 
div.output {font-size:14pt; font-weight:bold;} 
div.input {font-family:Consolas; font-size:14pt;} 
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;} 
div.text_cell_render ul li{font-size:12pt;padding:5px;} 
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조</font></b>
- 리스트[1,2,'a'], 튜플{1,2}, 딕셔너리{"name":"홍", "score":99}, 셋{10,20}  => 배열은 동일 자료형의 집합

# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능(배열을 리스트로 변환)
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱({from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [3]:
fruit = 'banana'   # 스칼라 데이터
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [8]:
print(fruits)
print(fruits[0])   # 인덱싱을 이용한 읽기
print(fruits[3])
#print(fruits[4])   # 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
banana
grape

In [9]:
fruits[0] = 'mango'  # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [12]:
fruits = ['mango', 'apple', 'orange']
x, y,z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print(f"y = {y}")
print(f"z = {z}")

x = mango
y = apple
z = orange

In [14]:
# range(from, to, by)  : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
       # 숫자를 순차적으로 사용할 수 있게
       # from 생략시 0, by 생략시 1
range(10)  # [0,1,2,3,4,5,6,7,8,9]와 같다. range(0, 10, 1)

range(0, 10)

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(10,-1, -1))
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

In [20]:
# for i in [0,1,2,3,4,5,6,7,8,9]:
for i in range(3):
    print(i)

0
1
2

In [21]:
for i in [0,1,2]:
    print(i)

0
1
2

In [25]:
fruits = ['mango','apple','orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(0, fruits[1]))
# print("{}번째 과일은 {}".format(0, fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [27]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [29]:
for i, fruit in enumerate(fruits):   # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [31]:
for fruit in fruits:
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [38]:
# 리스트는 여러 타입의 데이터를 담을 수 있음. 배열은 동일 자료형
numbers = [0, True, "2",[2,3],[4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [39]:
# 2차원 리스트
numbers = [1,2,3,4,5]
         #  0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],        # 0행
              [10,20,30,40,50],   # 1행
              [1,3,5,7,9],        # 2행
              [2,4,6,8,10]]       # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [40]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]  # numbers_2d[1,4]  error

50

In [42]:
print(len(numbers_2d),len(numbers_2d[0]))

4 5

In [46]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()                   # print(end='\n')

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [49]:
for i in range(len(numbers_2d)):          # i : 행
    for j in range(len(numbers_2d[i])):   # j : 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [50]:
len(numbers_2d),len(numbers_2d[0]),len(numbers_2d[1]),len(numbers_2d[2])

(4, 5, 5, 5)

In [57]:
list(enumerate(numbers_2d)) , list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [55]:
for i, row in enumerate(numbers_2d):          # i : 행
    for j,item in enumerate(numbers_2d[i]):   # j : 열
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본 정보 조회

In [59]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [60]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [63]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분 리스트 중 첫요소가 가장 작은/큰 값

min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [64]:
# list의 데이터가 문자일 경우  ascii 코드값으로 min과 max적용
fruits = ['mango','apple','orange']
min(fruits), max(fruits)

('apple', 'orange')

In [71]:
# 정렬하기 - 동일 자료형이어야한다.
numbers = [1,12,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers,reverse=True))
print("합 : ", sum(numbers))
print("평균 : ",sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음:", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 :  25
평균 :  5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음: [1, 12, 3, 4, 5]

## 1.3 요소추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `extend(리스트)` : 리스트를 요소별로 맨 뒤에 추가
- `insert(idx, 값)` : idx번째 인덱스 위치에 값 추가

In [72]:
numbers = [1, 2, 3]
numbers = numbers + numbers  # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [75]:
numbers = [1, 2, 3]
print(numbers*3)        # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
numbers.append(4)   # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4, [5, 6, 7], 4]

In [83]:
numbers.append([5,6,7]) # 맨 뒤에 [5,6,7]요소 추가
numbers

[1, 2, 3, 4, [5, 6, 7], 4, [5, 6, 7]]

In [87]:
numbers = [1, 2, 3]  
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [88]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [90]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [91]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [93]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1,'xx')    # 1번째 인덱스에 'xx'추가, 데이터가 많아지면 속도차이가 많이 난다.
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index]: 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 리스트는 find()가 없고 index()만 존재
- 찾을 데이터 in list변수 : 찾을 데이터가 리스트변수의 요소인지 여부
- count(찾을데이터): 리스트에서 해당 찾을 데이터의 갯수 반환

In [109]:
numbers = [1, 2, 3,[1,2,3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [100]:
numbers.count(5)

0

In [101]:
print(2 in numbers) # 2가 numbes의 요소인지 여부
print(5 in numbers)

True
False

In [104]:
numbers.index(2)   # 없는 요소면 error발생, count()나 in연산자로 확인 후 사용할 것. # in연산자가 더 많이 쓰인다.

1

In [105]:
if 5 in numbers:                  
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어있지 않습니다')

5가 요소에 포함되어있지 않습니다

In [106]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어있지 않습니다')

5가 요소에 포함되어있지 않습니다

In [118]:
def safe_index(lst, item):    
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [120]:
safe_index(numbers, 2)

1

In [6]:
from lst import safe_index # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [7]:
numbers[5]  # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [8]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
    *from 생략시 처음, to생략시 끝, step 생약시 1
    - 인덱스의 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
2. <font color="red"> **리스트 컴프리헨션** </font>: 원하는 조건의 데이터 추출

In [13]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1])  #거꾸로 출
print(numbers[0::2])  # 짝수  index 값 출력
print(numbers[2:100])  # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [11]:
# 모든 데이터 출력
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [12]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

10 12 18 20

In [22]:
# ex1. numbers에서 10이상인 요소만 추출
[item for item in numbers if item>=10]

[10, 12, 13, 18, 19, 20]

In [23]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [24]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [25]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [21]:
# ex4. 리스트 요소의 값의 2배를 추출
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [28]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정전 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정전 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [32]:
numbers[::2] = [1,1]   # 5개 있어야하는데 2개만 줘서

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제 , 없는 데이터 삭제하려고 하면 error
- del 리스트변수[idx] : idx번째 요소가 삭제(반환 안됨)

In [38]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제 후 numbers :', numbers)
print('1번째 삭제한 데이터 :', numbers.pop(1))
print('1번째 삭제 후 numbers :', numbers)
print('데이터 1 삭제')
numbers.remove(1)
print('데이터 1 삭제 후 numbers :', numbers)
print('del numbers[1]') 
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers : [3, 4]
del numbers[1]
[3]

In [40]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다.")

해당 데이터는 없는 item입니다.

In [41]:
numbers.clear()  # 모든 요소를 삭제, 변수를 삭제하려면 del()
numbers

[]

## 1.8 정렬하기

In [49]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [50]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바뀜
numbers

[0, 5, 6, 8, 9]

In [51]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바뀜
numbers

[9, 8, 6, 5, 0]

In [53]:
numbers.reverse()   # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [54]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i={i}, 복사본cp_i={cp_i} / 원본주소 = {id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i={i}, 복사본cp_i={cp_i} / 원본주소 = {id(i)}, 복사본주소={id(cp_i)}")

원본i=10, 복사본cp_i=10 / 원본주소 = 2791725728272, 복사본주소=2791725728272
원본i=10, 복사본cp_i=99 / 원본주소 = 2791725728272, 복사본주소=2791725731120

In [55]:
# 데이터 구조의 복제는 할당으로는 않된다.(딕셔너리, 셋, 배열, 시리즈, 데이터프레임에서도 발생)
numbers = [5,6,1,9]
new_numbers = numbers   # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 999
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소 : 2789686616960
복사본 주소 : 2789686616960

In [57]:
# 할당(얕은 복사)
numbers = [5,6,1,9]
new_numbers = numbers
new_numbers.sort()
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 내용 : [1, 5, 6, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2789686833792
복제본 주소 : 2789686833792

In [59]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy()  # numbers를 복제(깊은 복사)
# new_numbers = sorted(numbers) # sort()보다 속도가 많이 느리다. 
new_numbers.sort(reverse=True)  # 내림차순 정렬
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 내용 : [5, 6, 1, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2789686827136
복제본 주소 : 2789658179968

In [60]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 : ", city)
print("정렬후 : ", temp)

정렬전 :  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 :  ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [61]:
temp.clear()
print("정렬전 : ", city)
print("정렬후 : ", temp)

정렬전 :  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 :  []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음(변경 불가하므로 복제가 의미없다.)
- ()이용해서 생성

In [64]:
# city = ('서울','대전','대구','부산','하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
# a, b = 10, 20   #(10,20) 으로 인식
city = '서울','대전','대구','부산','하남'   # 자동적으로 튜플로 인식
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [66]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
",".join(city)

'서울,대전,대구,부산,하남'

In [67]:
from lst import safe_index
safe_index(city, '대전')

1

In [68]:
l = ['서울']   # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [72]:
city =('서울')  # 요소가 하나 있는 튜플 =>  str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울seoul
7

In [73]:
city =('서울',)  # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [74]:
numbers = (1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음
min(numbers), max(numbers),sum(numbers)

(1, 3, 6)

In [75]:
numbers.count(2)

1

In [76]:
numbers.index(3)

2

In [77]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [78]:
safe_index(numbers, 4)

-1