In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;} 
div.cell.code_cell.rendered{width:100%;} 
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:14pt;} 
div.text_cell_render.rendered_html{font-size:14pt;} 
div.output {font-size:14pt; font-weight:bold;} 
div.input {font-family:Consolas; font-size:14pt;} 
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;} 
div.text_cell_render ul li{font-size:12pt;padding:5px;} 
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조</font></b>
- 리스트[1,2,'a'], 튜플{1,2}, 딕셔너리{"name":"홍", "score":99}, 셋{10,20}  => 배열은 동일 자료형의 집합

# 1절 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능(배열을 리스트로 변환)
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱({from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [3]:
fruit = 'banana'   # 스칼라 데이터
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [8]:
print(fruits)
print(fruits[0])   # 인덱싱을 이용한 읽기
print(fruits[3])
#print(fruits[4])   # 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
banana
grape

In [9]:
fruits[0] = 'mango'  # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [12]:
fruits = ['mango', 'apple', 'orange']
x, y,z = ['mango', 'apple', 'orange']
print("x = {}".format(x))
print(f"y = {y}")
print(f"z = {z}")

x = mango
y = apple
z = orange

In [14]:
# range(from, to, by)  : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
       # 숫자를 순차적으로 사용할 수 있게
       # from 생략시 0, by 생략시 1
range(10)  # [0,1,2,3,4,5,6,7,8,9]와 같다. range(0, 10, 1)

range(0, 10)

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(10,-1, -1))
list(range(10,-1, -2))

[10, 8, 6, 4, 2, 0]

In [20]:
# for i in [0,1,2,3,4,5,6,7,8,9]:
for i in range(3):
    print(i)

0
1
2

In [21]:
for i in [0,1,2]:
    print(i)

0
1
2

In [25]:
fruits = ['mango','apple','orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(0, fruits[1]))
# print("{}번째 과일은 {}".format(0, fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [27]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [29]:
for i, fruit in enumerate(fruits):   # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [31]:
for fruit in fruits:
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [38]:
# 리스트는 여러 타입의 데이터를 담을 수 있음. 배열은 동일 자료형
numbers = [0, True, "2",[2,3],[4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [39]:
# 2차원 리스트
numbers = [1,2,3,4,5]
         #  0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],        # 0행
              [10,20,30,40,50],   # 1행
              [1,3,5,7,9],        # 2행
              [2,4,6,8,10]]       # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [40]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]  # numbers_2d[1,4]  error

50

In [42]:
print(len(numbers_2d),len(numbers_2d[0]))

4 5

In [46]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()                   # print(end='\n')

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [49]:
for i in range(len(numbers_2d)):          # i : 행
    for j in range(len(numbers_2d[i])):   # j : 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [50]:
len(numbers_2d),len(numbers_2d[0]),len(numbers_2d[1]),len(numbers_2d[2])

(4, 5, 5, 5)

In [57]:
list(enumerate(numbers_2d)) , list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [55]:
for i, row in enumerate(numbers_2d):          # i : 행
    for j,item in enumerate(numbers_2d[i]):   # j : 열
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본 정보 조회

In [59]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [60]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [63]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분 리스트 중 첫요소가 가장 작은/큰 값

min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [64]:
# list의 데이터가 문자일 경우  ascii 코드값으로 min과 max적용
fruits = ['mango','apple','orange']
min(fruits), max(fruits)

('apple', 'orange')

In [71]:
# 정렬하기 - 동일 자료형이어야한다.
numbers = [1,12,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers,reverse=True))
print("합 : ", sum(numbers))
print("평균 : ",sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음:", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 :  25
평균 :  5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음: [1, 12, 3, 4, 5]

## 1.3 요소추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `extend(리스트)` : 리스트를 요소별로 맨 뒤에 추가
- `insert(idx, 값)` : idx번째 인덱스 위치에 값 추가

In [72]:
numbers = [1, 2, 3]
numbers = numbers + numbers  # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [75]:
numbers = [1, 2, 3]
print(numbers*3)        # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
numbers.append(4)   # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4, [5, 6, 7], 4]

In [83]:
numbers.append([5,6,7]) # 맨 뒤에 [5,6,7]요소 추가
numbers

[1, 2, 3, 4, [5, 6, 7], 4, [5, 6, 7]]

In [87]:
numbers = [1, 2, 3]  
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [88]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [90]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [91]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [93]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1,'xx')    # 1번째 인덱스에 'xx'추가, 데이터가 많아지면 속도차이가 많이 난다.
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index]: 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 리스트는 find()가 없고 index()만 존재
- 찾을 데이터 in list변수 : 찾을 데이터가 리스트변수의 요소인지 여부
- count(찾을데이터): 리스트에서 해당 찾을 데이터의 갯수 반환

In [109]:
numbers = [1, 2, 3,[1,2,3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [100]:
numbers.count(5)

0

In [101]:
print(2 in numbers) # 2가 numbes의 요소인지 여부
print(5 in numbers)

True
False

In [104]:
numbers.index(2)   # 없는 요소면 error발생, count()나 in연산자로 확인 후 사용할 것. # in연산자가 더 많이 쓰인다.

1

In [105]:
if 5 in numbers:                  
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어있지 않습니다')

5가 요소에 포함되어있지 않습니다

In [106]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되어있지 않습니다')

5가 요소에 포함되어있지 않습니다

In [118]:
def safe_index(lst, item):    
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [120]:
safe_index(numbers, 2)

1

In [6]:
from lst import safe_index # lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [7]:
numbers[5]  # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [8]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
    *from 생략시 처음, to생략시 끝, step 생약시 1
    - 인덱스의 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
2. <font color="red"> **리스트 컴프리헨션** </font>: 원하는 조건의 데이터 추출

In [13]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1])  #거꾸로 출
print(numbers[0::2])  # 짝수  index 값 출력
print(numbers[2:100])  # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [11]:
# 모든 데이터 출력
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [12]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

10 12 18 20

In [22]:
# ex1. numbers에서 10이상인 요소만 추출
[item for item in numbers if item>=10]

[10, 12, 13, 18, 19, 20]

In [23]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [24]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [25]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [21]:
# ex4. 리스트 요소의 값의 2배를 추출
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [28]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정전 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정전 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [32]:
numbers[::2] = [1,1]   # 5개 있어야하는데 2개만 줘서

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제 , 없는 데이터 삭제하려고 하면 error
- del 리스트변수[idx] : idx번째 요소가 삭제(반환 안됨)

In [38]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제 후 numbers :', numbers)
print('1번째 삭제한 데이터 :', numbers.pop(1))
print('1번째 삭제 후 numbers :', numbers)
print('데이터 1 삭제')
numbers.remove(1)
print('데이터 1 삭제 후 numbers :', numbers)
print('del numbers[1]') 
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 numbers : [3, 4]
del numbers[1]
[3]

In [40]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다.")

해당 데이터는 없는 item입니다.

In [41]:
numbers.clear()  # 모든 요소를 삭제, 변수를 삭제하려면 del()
numbers

[]

## 1.8 정렬하기

In [49]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [50]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바뀜
numbers

[0, 5, 6, 8, 9]

In [51]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바뀜
numbers

[9, 8, 6, 5, 0]

In [53]:
numbers.reverse()   # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [54]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i={i}, 복사본cp_i={cp_i} / 원본주소 = {id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i={i}, 복사본cp_i={cp_i} / 원본주소 = {id(i)}, 복사본주소={id(cp_i)}")

원본i=10, 복사본cp_i=10 / 원본주소 = 2791725728272, 복사본주소=2791725728272
원본i=10, 복사본cp_i=99 / 원본주소 = 2791725728272, 복사본주소=2791725731120

In [55]:
# 데이터 구조의 복제는 할당으로는 않된다.(딕셔너리, 셋, 배열, 시리즈, 데이터프레임에서도 발생)
numbers = [5,6,1,9]
new_numbers = numbers   # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 999
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소 : 2789686616960
복사본 주소 : 2789686616960

In [57]:
# 할당(얕은 복사)
numbers = [5,6,1,9]
new_numbers = numbers
new_numbers.sort()
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 내용 : [1, 5, 6, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2789686833792
복제본 주소 : 2789686833792

In [59]:
# 리스트 복제(깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy()  # numbers를 복제(깊은 복사)
# new_numbers = sorted(numbers) # sort()보다 속도가 많이 느리다. 
new_numbers.sort(reverse=True)  # 내림차순 정렬
print('원본 내용 :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 내용 : [5, 6, 1, 9]
복제본 내용 : [1, 5, 6, 9]
원본 주소 : 2789686827136
복제본 주소 : 2789658179968

In [60]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 : ", city)
print("정렬후 : ", temp)

정렬전 :  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 :  ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [61]:
temp.clear()
print("정렬전 : ", city)
print("정렬후 : ", temp)

정렬전 :  ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 :  []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음(변경 불가하므로 복제가 의미없다.)
- ()이용해서 생성

In [64]:
# city = ('서울','대전','대구','부산','하남')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
# a, b = 10, 20   #(10,20) 으로 인식
city = '서울','대전','대구','부산','하남'   # 자동적으로 튜플로 인식
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남')

In [66]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
",".join(city)

'서울,대전,대구,부산,하남'

In [67]:
from lst import safe_index
safe_index(city, '대전')

1

In [68]:
l = ['서울']   # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [72]:
city =('서울')  # 요소가 하나 있는 튜플 =>  str
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울seoul
7

In [73]:
city =('서울',)  # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [3]:
numbers = (1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음
min(numbers), max(numbers),sum(numbers)

(1, 3, 6)

In [4]:
sorted(numbers)

[1, 2, 3]

In [5]:
numbers.count(2)

1

In [6]:
numbers.index(3)

2

In [7]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [8]:
from lst import safe_index
safe_index(numbers, 4)

-1

In [21]:
numbers = (1, 4, 3, 2)
if 4 in numbers[2:]:
    numbers.index(4, 2)  # index(찾을데이터, 찾기시작할index=0) 
else:
    print("데이터가 없습니다.")

데이터가 없습니다.

In [29]:
def safe_index(lst, item, start=0):    
    """
    첫번째 매개변수 lst : 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start : 몇번째 index부터 찾을지 index수(기본값: 0)
    """
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start)  # start번째부터 item이 있는 index를 반환
#     else
#         return -1

# 파이썬 삼항연산자 없음 => if 조건식을 쓴다.

In [30]:
safe_index(numbers, 5)

-1

In [18]:
# 위의 if문을 조건식을 이용하여 한줄 코드
def diff(x, y):
    return x-y if x>y else y-x   #  조건식 => if문이 참일때 값 if 조건 else if문거짓일때값
#     if x>y:
#         return x-y
#     else:
#         return y-x
diff(30, 20)

10

In [32]:
numbers = (1,2,3)
print(numbers + numbers)  # 연결
print(3 * numbers) # 반복
print(numbers * 3) # 반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오.
numbers = (11,2,3,4,5,6)
tuple(num**2 for num in numbers if num%2==0)

(4, 16, 36)

# 3절 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용 불가. 키에 tuple은 사용가능
- 값은 중복 가능, 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안 함.

In [37]:
dic = {'name':'홍길동', 1:22,(1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [38]:
len(dic)  # 데이터 요소의 갯수

3

In [53]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [54]:
# 변수[키]/ 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [55]:
# print(my_favorite['people'])  # 키목록에 없는 데이터를 참조시 error
print(my_favorite.get('people'))  # 없는 키를 get()으로 참조시 None
print(my_favorite.get('people', '-')) # 없는 키를 get()으로 참조시 '-'

None
-

In [56]:
if my_favorite.get('people'):
    pass
else:
    print('데이터가 없음')

데이터가 없음

## 딕셔너리 item 수정, 추가, 삭제

In [68]:
my_favorite = {'fruit':'apple','number':12, 'sport':'yoga'}
# 한 item씩 추가
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'
print('people 추가후 : ', my_favorite)

# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학','major':'AI'})
print('한꺼번에 추가후 : ', my_favorite)
                    
# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9                    
print('하나씩 수정 후 :', my_favorite)
                    
# 여러 item을 한꺼번에 수정
# my_favorite.update({'fruit':'kiwi','number':-99 })  # 딕셔너리 타입으로 수정
my_favorite.update(fruit='kiwi', number=-99)
print('한꺼번에 수정 후 :',my_favorite)

# item 제거(1)
del my_favorite['subject']  # subject item 제거
if 'subject' in my_favorite:
    del my_favorite['subject'] 
else:
    print('subject 키가 존재하지 않습니다.')
print("del 제거 후 :", my_favorite)

# item 제거(2)
print('제거한 데이터 :', my_favorite.pop('major'))  # major키 값을 반환하고 제거
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

people 추가후 :  {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
한꺼번에 추가후 :  {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다.
del 제거 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

##  출력하기

In [69]:
# for 문을 이용한 튜플 출력
my_tuple = ('홍길동',30,'010-9999-9999')

In [72]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f"{idx}번째: {my_tuple[idx]}", end='\t')
print()
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째: {data}", end='\t')

홍길동	30	010-9999-9999
0번째: 홍길동	1번째: 30	2번째: 010-9999-9999
0번째: 홍길동	1번째: 30	2번째: 010-9999-9999

In [90]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [91]:
for key in my_dic:  # 비추
    print("{} : {}".format(key, my_dic[key]), end='\t')
print()

name : 홍길동	age : 30	tel : 010-9999-9999

In [92]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [93]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [94]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [95]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [96]:
for value in my_dic.values():
    print(value,end='\t')

홍길동	30	010-9999-9999

In [100]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [102]:
for no, (key,value) in enumerate(my_dic.items()):
    print("{}. {} : {}".format(no+1, key, value))

1. name : 홍길동
2. age : 30
3. tel : 010-9999-9999

## in연산자

In [106]:
# tuple, list
t = (10,20,30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터, item)가 있는지 여부 반환

True

In [107]:
# dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환

False

In [108]:
'홍길동' in dic.values()

True

## 복제하기

In [109]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print('my_favorite 주소 : ',id(my_favorite))
print('new_favorite 주소 : ',id(new_favorite))

my_favorite 주소 :  2833952250304
new_favorite 주소 :  2833952250304

In [110]:
new_favorite['fruit'] ='과일은 다 좋아'
new_favorite['people'] ="홍길동"
print('원본: ',my_favorite)
print('수정본: ',new_favorite)

원본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [111]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 : ',id(my_favorite))
print('new_favorite 주소 : ',id(new_favorite))
new_favorite['fruit'] ='과일은 다 좋아'
new_favorite['people'] ="홍길동"
print('원본: ',my_favorite)
print('수정본: ',new_favorite)

my_favorite 주소 :  2833952246848
new_favorite 주소 :  2833952247744
원본:  {'fruit': 'apple', 'number': 12}
수정본:  {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
- 중복을 허용하지 않는 집합(순서X) 
- {}나 set()를 이용해서 set생성   ex. set([1, 2, 1]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove()
- 집합연산자 : &교집합,   |합집합,    -차집합  - 자연어처리할 때
- 수정 불가- 삭제하고 추가

In [112]:
st = {'name':'홍길동', 'age':30}
se = {'홍길동', 30}

In [113]:
fruits = {'banana','orange','apple','apple'}
fruits

{'apple', 'banana', 'orange'}

In [117]:
s1 = set([1,2,3,1,1,1,1,1,1,1,1])  # 리스트를 셋으로
s1

{1, 2, 3}

In [118]:
s1 = set((1,2,3,1,1,1,1,1,1,1,1))  # 튜플을 셋으로
s1

{1, 2, 3}

In [119]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic,set 유형은 add()사용 불가.  들어갈때 값이 아닌 bit값을 본다.
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dict 사용시 key만 추가 
      cf list의 extend()

In [125]:
s = {1,2,3}
s.add(False)
s.add('오')
s.add((6,7))
print("add() 후 : ",s)

add() 후 :  {False, 1, 2, 3, (6, 7), '오'}

In [134]:
# 1이 set에 있는 상태에서 True 추가
s = {1,2,3,1,1}
s.add(True)
print("True add 후 : ", s)

True add 후 :  {1, 2, 3}

In [135]:
# False가 set에 있는 상태에서  0추가
s = {False, 1,2}
s.add(0)
print("0 add 후 : ", s)

0 add 후 :  {False, 1, 2}

In [130]:
s = {1,2,3}
# s.update([4,5,6])
# s.update((4,5,6))
s.update({4,5,6})
s.update({"name":'홍','age':20})
print("update() 후 : ",s)

update() 후 :  {1, 2, 3, 4, 5, 6, 'name', 'age'}

## 삭제

In [136]:
s = {1,2,3,1,1}
s.remove(2)
s

{1, 3}

In [138]:
# s.remove(5)  # 없는 요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터는 없습니다.")

해당 데이터는 없습니다.

## 집합연산자
    &(교집합), |(합집합), -(차집합)

In [140]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("s1 =", s1)
print("s2 =", s2)
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)
print("s2-s1 =", s2-s1)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [142]:
names = {'길동','길숙','길자'}
for name in names:
    print(name)

길자
길숙
길동

# 5절 enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [147]:
list(enumerate(names))

[(0, '길자'), (1, '길숙'), (2, '길동')]

In [148]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name))

1. 길자
2. 길숙
3. 길동

In [149]:
names = ['길동','길자','길숙']
tels = ['02-999-9999','02-888-8888','02-777-7777']
adds = ['서울','판교','판교']

In [151]:
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요\
    ".format(idx+1, names[idx], tels[idx], adds[idx]))

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [152]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [153]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name}님의 연락처는 {tel}이고, {add} 살아요")

길동님의 연락처는 02-999-9999이고, 서울 살아요
길자님의 연락처는 02-888-8888이고, 판교 살아요
길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [154]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-7777', '하남'))]

In [158]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
#    print(f"{idx}. {name}님의 연락처는 {tel}이고, {add} 살아요")
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx, name, tel, add))

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [161]:
members = []  # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name':name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [162]:
members = []  # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1,'name':name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절 연습문제
## 실습형 연습문제

In [216]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [217]:
# 1. 숫자 100을 맨 뒤에 추가하세요.
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [218]:
# 2. data = [200, 300, 400, 500]를 numbers리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
numbers += data
print('2번 결과 :',numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [219]:
# 3. 처음 다섯 개 숫자만 출력하세요
print('3번 결과 :',numbers[:5])

[1, 2, 3, 4, 5]

In [220]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print('4번 결과 :', numbers[2::2])  # 0은 짝수가 아니다.

[1, 3, 5, 7, 9, 100, 300, 500]

In [249]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
# for i in range(len(numbers)):
#     if i%2 == 0:
#         numbers[i] = 0
# numbers = [0 if i % 2 == 0 else numbers[i] for i in range(len(numbers))]
numbers[::2] = [0] * len(numbers[::2])
print('5번후 결과 :',numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [221]:
# 6. 데이터를 역순으로 나열하세요.
print('6번후 결과 :',numbers[::-1])
# numbers.revers()

[500, 400, 300, 200, 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [250]:
member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구',
                                'score':90}

In [251]:
# 7. address값을 출력하세요
#print(member_info['address'])    # 비추
print('7번후 결과 :',member_info.get('address')) # 추천

서울시 마포구

In [253]:
# 8. score를 출력하고 member_info 딕셔너리에서 삭제하세요.
# print(member_info['score'])
# del(member_info['score'])
print('score :', member_info['score'])
if 'score' in member_info:
    del(member_info['score'])
else:
    print('score 키가 존재하지 않습니다')
print('8번후 결과 :',member_info)

score : 90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [254]:
# 9. address를 '서울시 서대문구'로 변경하세요.
if 'address' in member_info:
    member_info['address'] = '서울시 서대문구'
else:
    print('address 키가 존재하지 않습니다')
print('9번후 결과 :',member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [255]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
print('10번후 결과 :',list(member_info.values()))

['홍길동', 20, '서울시 서대문구']

## 서술형 연습문제

In [230]:
# 1. 
L1 = ('orange','apple','banana','kiwi')
new_list = [i for i in L1 if len(i)>5]
print(new_list)
# 결과 ['orange', 'banana']

['orange', 'banana']

In [ ]:
# 2. ③ print(list(range(10,0,-1)))  => [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [233]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 3. 다음 구문에 의해 출력되는 것은?

numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

# 1

In [ ]:
# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
numbers = [1,2,3,4,5]
numbers.__________([10,20,30,40,50])
numbers 
# 결과 : [1,2,3,4,5,10,20,30,40,50]

extend

In [ ]:
# 5. 다음 구문을 실행할 때 결과는 ?
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
print(numbers)

# [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [ ]:
# 6. 다음 구문을 실행할 때 결과는 ?

numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

# [5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [ ]:
# 7. 다음 구문을 실행할 때 결과는 ?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

# [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [ ]:
# 8. 다음 데이터에서 10을 출력할 수 없는 구문은?

① my_dic[0]
# my_dic[‘a’]
# list(my_dic.items())[0][1]
# list(my_dic.values())[0]
# my_dic.get(‘a’)

In [ ]:
# 9. 다음 프로그램의 결과를 출력하시오
fruits = [ ‘apple’, ‘banana’, ‘orange’]
x, y, z = fruits
print(x) 
print(y) 
print(z) 

# apple
# banana
# orange

In [ ]:
# 10. 다음 프로그램의 결과를 출력하시오
fruits = [ ‘apple’, ‘banana’, ‘orange’]
print(len(fruits))

# 3

In [ ]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?

# def

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
    style="float:left"
    width="500">